<mat-card class="my-4">
    <mat-card-header>
        <mat-card-title>Standard Buttons</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="my-4 d-flex justify-content-between">
            <ui-button-standard>Default</ui-button-standard>
            <ui-button-standard color="primary">Primary</ui-button-standard>
            <ui-button-standard color="accent">Accent</ui-button-standard>
            <ui-button-standard color="success">Success</ui-button-standard>
        </div>
        <div class="my-4 d-flex justify-content-between">
            <ui-button-standard color="warn">Warning</ui-button-standard>
            <ui-button-standard color="primary"
                                basic="true">Basic</ui-button-standard>
            <ui-button-standard color="primary"
                                disabled="true">Disabled</ui-button-standard>
            <ui-button-standard color="primary"
                                basic="true"
                                disabled="true">Basic disabled</ui-button-standard>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="my-4">
    <mat-card-header>
        <mat-card-title>Standard Buttons</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="my-4 d-flex justify-content-between">
            <ui-button-standard>Default</ui-button-standard>
            <ui-button-standard color="primary">Primary</ui-button-standard>
            <ui-button-standard color="accent">Accent</ui-button-standard>
            <ui-button-standard color="success">Success</ui-button-standard>
        </div>
        <div class="my-4 d-flex justify-content-between">
            <ui-button-standard color="warn">Warning</ui-button-standard>
            <ui-button-standard color="primary"
                                basic="true">Basic</ui-button-standard>
            <ui-button-standard color="primary"
                                disabled="true">Disabled</ui-button-standard>
            <ui-button-standard color="primary"
                                basic="true"
                                disabled="true">Basic disabled</ui-button-standard>
        </div>
    </mat-card-content>
</mat-card>