<mat-sidenav-container autosize>

    <mat-sidenav #sidenav
                 class="sidenav mat-elevation-z10"
                 mode="side"
                 [opened]="sidenavOpened">
        <mat-toolbar color="primary">
            <span>Side Navigation</span>
        </mat-toolbar>

        <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>

        <!-- <router-outlet name="sidenav"></router-outlet> -->
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary"
                     class="mat-elevation-z10">
            <mat-toolbar-row>
                <button type="button"
                        mat-button
                        (click)="sidenavOpened = !sidenavOpened">
                    <mat-icon>menu</mat-icon>
                </button>
                <button mat-button
                        [routerLink]="[ '/home' ]">
                    Home
                </button>
                <button mat-button
                        [routerLink]="[ '/posts' ]">
                    Posts
                </button>
                <button mat-button
                        [routerLink]="[ '/buttons' ]">
                    Buttons
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="outlet-wrapper">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>