$success-palette: (50 : #e8f8e0,
    100 : #c6edb3,
    200 : #a0e180,
    300 : #7ad54d,
    400 : #5ecc26,
    500 : #41c300,
    600 : #3bbd00,
    700 : #32b500,
    800 : #2aae00,
    900 : #1ca100,
    A100 : #d1ffcb,
    A200 : #a3ff98,
    A400 : #76ff65,
    A700 : #5fff4c,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));